*{
font-family:cursive;
padding: 0;
box-sizing: border-box;
background-color: bisque;
}
.header{
    background-color:#f59f30;
}
.container{
    border: 2px double #f59f30;
    max-width: 1000px;
    max-height:300px;
    margin: 0 auto;
    margin-top: 30%; 
}
.paragraph::-webkit-scrollbar {
    display: none;
  }
  
.paragraph{
    width: 100%;
    height: 100px;
    overflow-y: scroll;
    content: '\201C';
    text-align: center;
    font-weight:100;
}

.social{
    max-width: 90px;
    position: absolute;
    margin-top: 6px; 
}
.fa-brands{
    margin-left: 10px;
}
.fa-facebook-f{
    color: #4267B2;
}
.fa-instagram{
    color: #F77737;
}
.fa-github{
    color:#000000;
}
.fa-brands:hover{
    cursor: pointer;
}

.author{
    text-align: end;
   font-weight:900;
   margin-right: 10px
}
.new{
    position: absolute;
    margin-left:35vw;
    margin-top: 28px;
    border: none;
    background-color: #f59f30;
    border-radius: 50px;
    width: 25%;
}
.new:hover{
    cursor: pointer;
}

@media (min-width:1000px) {
    .container{
        margin: 0 auto;
        margin-top: 20%
    }
    .new{
        border: 1px solid red;
       margin-left: 40px;
       max-width: 150px;
    }
}